<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Orders</title>
      <link rel="stylesheet" href="/stylesheet/styles.css" />
  </head>
  <body>
    <h1>Orders</h1>
      <div class="container form">
        <div>Create</div>
        <form action="/orders" method="POST">
          <div class="entry">
            <label for="name">Name</label>
            <input type="text" placeholder="Name" name="name" />
          </div>
          <div class="entry">
            <label for="count">Count</label>
            <input type="number" placeholder="Count" name="count" />
          </div>
          <div class="entry">
            <label for="price">Price</label>
            <input type="number" placeholder="Price" name="price" />
          </div>
          <button class="button button-block" type="submit">Create</button>
        </form>
      </div>

      <div class="container">
        <table>
          <thead>
            <tr>
              <th colspan="4"><div>Read</div></th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Count</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < orders.length; i++) { %>
            <tr>
              <td><%= orders[i].name %></td>
              <td><%= orders[i].count %></td>
              <td><%= orders[i].price %></td> 
              <td>
                <button
                  class="button editButton"
                  data-name="<%= orders[i].name %>"
                  data-count="<%= orders[i].count %>"
                  data-price="<%= orders[i].price %>"
                >
                  Edit
                </button>
                <button
                  class="button deleteButton"
                  data-name="<%= orders[i].name %>"
                  data-count="<%= orders[i].count %>"
                  data-price="<%= orders[i].price %>"
                >
                  Delete
                </button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="container form">
        <div>Update</div>
          <div class="entry">
            <label for="oldName">Old Name</label>
            <input type="text" name="oldName" id="oldName" readonly="true" />
          </div>
          <div class="entry">
            <label for="oldCount">Old Count</label>
            <input type="number" name="oldCount" id="oldCount" readonly="true" />
          </div>
          <div class="entry">
            <label for="oldPrice">Old Price</label>
            <input type="number" name="oldPrice" id="oldPrice" readonly="true" />
          </div>
          <div class="entry">
            <label for="newName">New Name</label>
            <input type="text" name="newName" id="newName" />
          </div>
          <div class="entry">
            <label for="newCount">New Count</label>
            <input type="number" name="newCount" id="newCount" />
          </div>
          <div class="entry">
            <label for="newPrice">New Price</label>
            <input type="number" name="newPrice" id="newPrice" />
          </div>
          <button class="button button-block updateButton">Update</button>
      </div>
      
      <div class="container form">
        <div>Input the price to delete orders</div>
        <form action="/orders" method="POST">
          <div class="entry">
            <input type="number" name="inputData" />
          </div>
          <button class="button button-block inputButton">Input</button>
      </div>

      <script src="/main.js"></script>
  </body>
</html>
